.App{
  max-width: 375px;
  margin: 0 auto;
  padding: 1.125rem;
  height: 812px;
  background-image: url('/public/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}